USE [busticket]
GO
/****** Object:  Table [dbo].[bus_driver]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bus_driver](
	[bus_driver_id] [int] IDENTITY(1,1) NOT NULL,
	[bus_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bus_driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[bus_id] ASC,
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bus_type_seat_template]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bus_type_seat_template](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bus_type_id] [int] NOT NULL,
	[seat_template_id] [int] NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[bus_type_id] ASC,
	[seat_template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bus_types]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bus_types](
	[bus_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[bus_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buses]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buses](
	[bus_id] [int] IDENTITY(1,1) NOT NULL,
	[plate_number] [nvarchar](20) NOT NULL,
	[capacity] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[bus_code] [nvarchar](50) NULL,
	[bus_type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[drivers]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drivers](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[license_number] [nvarchar](50) NULL,
	[license_class] [nvarchar](20) NULL,
	[hire_date] [date] NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_items]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[ticket_id] [int] NOT NULL,
	[amount] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_taxes]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_taxes](
	[invoice_tax_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[tax_type] [nvarchar](50) NOT NULL,
	[tax_percent] [decimal](5, 2) NOT NULL,
	[tax_amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[total_amount] [float] NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[paid_at] [datetime] NULL,
	[invoice_code] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[invoice_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](255) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[type] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[expires_at] [datetime] NOT NULL,
	[used] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[route_pricing]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[route_pricing](
	[pricing_id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NULL,
	[price] [float] NOT NULL,
	[effective_from] [date] NOT NULL,
	[effective_to] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pricing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routes]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routes](
	[route_id] [int] IDENTITY(1,1) NOT NULL,
	[start_location] [nvarchar](100) NULL,
	[end_location] [nvarchar](100) NULL,
	[distance_km] [float] NULL,
	[estimated_time] [nvarchar](50) NULL,
	[start_location_id] [int] NULL,
	[end_location_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat_templates]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat_templates](
	[seat_template_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](10) NOT NULL,
	[level] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seat_template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket_seat]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_seat](
	[ticket_seat_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NOT NULL,
	[seat_number] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ticket_id] ASC,
	[seat_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_id] [int] NULL,
	[user_id] [int] NULL,
	[status] [nvarchar](20) NULL,
	[check_in] [datetime] NULL,
	[check_out] [datetime] NULL,
	[ticket_code] [varchar](20) NULL,
	[pickup_location_id] [int] NULL,
	[dropoff_location_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ticket_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trip_bus]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trip_bus](
	[trip_bus_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_id] [int] NOT NULL,
	[bus_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_bus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[trip_id] ASC,
	[bus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trip_driver]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trip_driver](
	[trip_driver_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[trip_id] ASC,
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trips]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trips](
	[trip_id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NULL,
	[bus_id] [int] NULL,
	[driver_id] [int] NULL,
	[departure_time] [datetime] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 09/06/2025 10:32:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[birthdate] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bus_type_seat_template] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[drivers] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [paid_at]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (N'Thanh toán thành công') FOR [status]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT (left(CONVERT([varchar](36),newid()),(6))) FOR [ticket_code]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bus_driver]  WITH CHECK ADD  CONSTRAINT [FK_bus_driver_bus] FOREIGN KEY([bus_id])
REFERENCES [dbo].[buses] ([bus_id])
GO
ALTER TABLE [dbo].[bus_driver] CHECK CONSTRAINT [FK_bus_driver_bus]
GO
ALTER TABLE [dbo].[bus_driver]  WITH CHECK ADD  CONSTRAINT [FK_bus_driver_driver] FOREIGN KEY([driver_id])
REFERENCES [dbo].[drivers] ([driver_id])
GO
ALTER TABLE [dbo].[bus_driver] CHECK CONSTRAINT [FK_bus_driver_driver]
GO
ALTER TABLE [dbo].[bus_type_seat_template]  WITH CHECK ADD  CONSTRAINT [FK_btst_bus_type] FOREIGN KEY([bus_type_id])
REFERENCES [dbo].[bus_types] ([bus_type_id])
GO
ALTER TABLE [dbo].[bus_type_seat_template] CHECK CONSTRAINT [FK_btst_bus_type]
GO
ALTER TABLE [dbo].[bus_type_seat_template]  WITH CHECK ADD  CONSTRAINT [FK_btst_seat_template] FOREIGN KEY([seat_template_id])
REFERENCES [dbo].[seat_templates] ([seat_template_id])
GO
ALTER TABLE [dbo].[bus_type_seat_template] CHECK CONSTRAINT [FK_btst_seat_template]
GO
ALTER TABLE [dbo].[buses]  WITH CHECK ADD  CONSTRAINT [FK_buses_bus_type] FOREIGN KEY([bus_type_id])
REFERENCES [dbo].[bus_types] ([bus_type_id])
GO
ALTER TABLE [dbo].[buses] CHECK CONSTRAINT [FK_buses_bus_type]
GO
ALTER TABLE [dbo].[drivers]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD FOREIGN KEY([ticket_id])
REFERENCES [dbo].[tickets] ([ticket_id])
GO
ALTER TABLE [dbo].[invoice_taxes]  WITH CHECK ADD  CONSTRAINT [FK_invoice_taxes_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[invoice_taxes] CHECK CONSTRAINT [FK_invoice_taxes_invoice]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[route_pricing]  WITH CHECK ADD FOREIGN KEY([route_id])
REFERENCES [dbo].[routes] ([route_id])
GO
ALTER TABLE [dbo].[routes]  WITH CHECK ADD  CONSTRAINT [FK_routes_end_location_id_locations] FOREIGN KEY([end_location_id])
REFERENCES [dbo].[locations] ([location_id])
GO
ALTER TABLE [dbo].[routes] CHECK CONSTRAINT [FK_routes_end_location_id_locations]
GO
ALTER TABLE [dbo].[routes]  WITH CHECK ADD  CONSTRAINT [FK_routes_start_location_id_locations] FOREIGN KEY([start_location_id])
REFERENCES [dbo].[locations] ([location_id])
GO
ALTER TABLE [dbo].[routes] CHECK CONSTRAINT [FK_routes_start_location_id_locations]
GO
ALTER TABLE [dbo].[ticket_seat]  WITH CHECK ADD  CONSTRAINT [FK_ticket_seat_ticket] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[tickets] ([ticket_id])
GO
ALTER TABLE [dbo].[ticket_seat] CHECK CONSTRAINT [FK_ticket_seat_ticket]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_dropoff_location_id_locations] FOREIGN KEY([dropoff_location_id])
REFERENCES [dbo].[locations] ([location_id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_dropoff_location_id_locations]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_pickup_location_id_locations] FOREIGN KEY([pickup_location_id])
REFERENCES [dbo].[locations] ([location_id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_pickup_location_id_locations]
GO
ALTER TABLE [dbo].[trip_bus]  WITH CHECK ADD  CONSTRAINT [FK_trip_bus_bus] FOREIGN KEY([bus_id])
REFERENCES [dbo].[buses] ([bus_id])
GO
ALTER TABLE [dbo].[trip_bus] CHECK CONSTRAINT [FK_trip_bus_bus]
GO
ALTER TABLE [dbo].[trip_bus]  WITH CHECK ADD  CONSTRAINT [FK_trip_bus_trip] FOREIGN KEY([trip_id])
REFERENCES [dbo].[trips] ([trip_id])
GO
ALTER TABLE [dbo].[trip_bus] CHECK CONSTRAINT [FK_trip_bus_trip]
GO
ALTER TABLE [dbo].[trip_driver]  WITH CHECK ADD  CONSTRAINT [FK_trip_driver_driver] FOREIGN KEY([driver_id])
REFERENCES [dbo].[drivers] ([driver_id])
GO
ALTER TABLE [dbo].[trip_driver] CHECK CONSTRAINT [FK_trip_driver_driver]
GO
ALTER TABLE [dbo].[trip_driver]  WITH CHECK ADD  CONSTRAINT [FK_trip_driver_trip] FOREIGN KEY([trip_id])
REFERENCES [dbo].[trips] ([trip_id])
GO
ALTER TABLE [dbo].[trip_driver] CHECK CONSTRAINT [FK_trip_driver_trip]
GO
ALTER TABLE [dbo].[trips]  WITH CHECK ADD FOREIGN KEY([route_id])
REFERENCES [dbo].[routes] ([route_id])
GO
ALTER TABLE [dbo].[seat_templates]  WITH CHECK ADD CHECK  (([level]='Lower' OR [level]='Upper'))
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='Booked'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([gender]='Other' OR [gender]='Female' OR [gender]='Male'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='Guest' OR [role]='Customer' OR [role]='Driver' OR [role]='Admin'))
GO
