USE [master]
GO
/****** Object:  Database [BusTicket]    Script Date: 22/06/2025 02:33:57 CH ******/
CREATE DATABASE [BusTicket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'busticket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\busticket.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'busticket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\busticket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusTicket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusTicket]
GO
/****** Object:  Table [dbo].[Bus_Driver]    Script Date: 22/06/2025 02:33:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Driver](
	[bus_driver_id] [int] IDENTITY(1,1) NOT NULL,
	[bus_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bus_driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus_Type_Seat_Template]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Type_Seat_Template](
	[bus_type_seat_template_id] [int] IDENTITY(1,1) NOT NULL,
	[bus_type_id] [int] NOT NULL,
	[seat_template_id] [int] NOT NULL,
	[bus_type_seat_template_is_active] [bit] NULL,
	[bus_type_seat_template_zone] [nvarchar](5) NOT NULL,
	[bus_type_seat_template_row] [int] NOT NULL,
	[bus_type_seat_template_col] [int] NOT NULL,
	[bus_type_seat_template_is_aisle] [bit] NOT NULL,
	[bus_type_seat_template_order] [int] NOT NULL,
 CONSTRAINT [PK_BusTypeSeatTemplate] PRIMARY KEY CLUSTERED 
(
	[bus_type_seat_template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus_Types]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Types](
	[bus_type_id] [int] IDENTITY(1,1) NOT NULL,
	[bus_type_name] [nvarchar](100) NOT NULL,
	[bus_type_description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[bus_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[bus_id] [int] IDENTITY(1,1) NOT NULL,
	[plate_number] [nvarchar](20) NOT NULL,
	[capacity] [int] NOT NULL,
	[bus_status] [nvarchar](50) NULL,
	[bus_code] [nvarchar](50) NULL,
	[bus_type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver_Trip_Change_Request]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver_Trip_Change_Request](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[driver_id] [int] NOT NULL,
	[trip_id] [int] NOT NULL,
	[request_date] [datetime] NULL,
	[change_reason] [nvarchar](255) NULL,
	[request_status] [nvarchar](50) NULL,
	[approved_by_driver_id] [int] NULL,
	[approval_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[license_number] [nvarchar](50) NULL,
	[license_class] [nvarchar](20) NULL,
	[hire_date] [date] NULL,
	[driver_status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_Cancel_Requests]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Cancel_Requests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[request_date] [datetime] NOT NULL,
	[cancel_reason] [nvarchar](255) NULL,
	[request_status] [nvarchar](20) NOT NULL,
	[approved_by_staff_id] [int] NULL,
	[approval_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_Items]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[ticket_id] [int] NOT NULL,
	[invoice_amount] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_Taxes]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Taxes](
	[invoice_tax_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[invoice_tax_type] [nvarchar](50) NOT NULL,
	[invoice_tax_percent] [decimal](5, 2) NOT NULL,
	[invoice_tax_amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[invoice_total_amount] [float] NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[paid_at] [datetime] NULL,
	[invoice_code] [varchar](20) NOT NULL,
	[invoice_full_name] [nvarchar](100) NULL,
	[invoice_email] [nvarchar](100) NULL,
	[invoice_phone] [nvarchar](20) NULL,
	[invoice_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](255) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[location_type] [nvarchar](50) NULL,
	[location_description] [nvarchar](500) NULL,
	[location_created_at] [datetime] NOT NULL,
	[location_status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Password_Reset_Tokens]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Password_Reset_Tokens](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[token_created_at] [datetime] NULL,
	[token_expires_at] [datetime] NOT NULL,
	[token_used] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route_Prices]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route_Prices](
	[route_price_id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NOT NULL,
	[bus_type_id] [int] NOT NULL,
	[route_price] [decimal](18, 2) NOT NULL,
	[route_price_effective_from] [date] NOT NULL,
	[route_price_effective_to] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[route_price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route_Stops]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route_Stops](
	[route_stop_id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NOT NULL,
	[route_stop_number] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[route_stop_dwell_minutes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[route_stop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[route_id] [int] IDENTITY(1,1) NOT NULL,
	[distance_km] [float] NULL,
	[start_location_id] [int] NULL,
	[end_location_id] [int] NULL,
	[estimated_time] [int] NULL,
	[route_status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat_History]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NOT NULL,
	[history_seat_number] [nvarchar](10) NOT NULL,
	[trip_id] [int] NOT NULL,
	[history_previous_status] [nvarchar](20) NOT NULL,
	[history_current_status] [nvarchar](20) NOT NULL,
	[history_changed_at] [datetime] NULL,
	[history_change_reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat_Templates]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat_Templates](
	[seat_template_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](10) NOT NULL,
	[level] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seat_template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket_Seat]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket_Seat](
	[ticket_seat_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NOT NULL,
	[seat_number] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_id] [int] NULL,
	[user_id] [int] NULL,
	[ticket_status] [nvarchar](20) NULL,
	[check_in] [datetime] NULL,
	[check_out] [datetime] NULL,
	[ticket_code] [varchar](20) NULL,
	[pickup_location_id] [int] NULL,
	[dropoff_location_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip_Bus]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip_Bus](
	[trip_bus_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_id] [int] NOT NULL,
	[bus_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_bus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip_Driver]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip_Driver](
	[trip_driver_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
	[assigned_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[trip_id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NULL,
	[bus_id] [int] NULL,
	[driver_id] [int] NULL,
	[departure_time] [datetime] NULL,
	[trip_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/06/2025 02:33:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](100) NULL,
	[user_email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[user_phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[birthdate] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[user_address] [nvarchar](255) NULL,
	[user_created_at] [datetime] NULL,
	[user_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bus_Driver] ON 

INSERT [dbo].[Bus_Driver] ([bus_driver_id], [bus_id], [driver_id]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[Bus_Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[Bus_Type_Seat_Template] ON 

INSERT [dbo].[Bus_Type_Seat_Template] ([bus_type_seat_template_id], [bus_type_id], [seat_template_id], [bus_type_seat_template_is_active], [bus_type_seat_template_zone], [bus_type_seat_template_row], [bus_type_seat_template_col], [bus_type_seat_template_is_aisle], [bus_type_seat_template_order]) VALUES (1, 1, 1, 1, N'down', 1, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Bus_Type_Seat_Template] OFF
GO
SET IDENTITY_INSERT [dbo].[Bus_Types] ON 

INSERT [dbo].[Bus_Types] ([bus_type_id], [bus_type_name], [bus_type_description]) VALUES (1, N'Luxury', N'High-end bus with extra amenities')
INSERT [dbo].[Bus_Types] ([bus_type_id], [bus_type_name], [bus_type_description]) VALUES (2, N'Standard', N'Standard bus with basic facilities')
SET IDENTITY_INSERT [dbo].[Bus_Types] OFF
GO
SET IDENTITY_INSERT [dbo].[Buses] ON 

INSERT [dbo].[Buses] ([bus_id], [plate_number], [capacity], [bus_status], [bus_code], [bus_type_id]) VALUES (1, N'51B-12345', 40, N'Active', N'BUS001', 1)
INSERT [dbo].[Buses] ([bus_id], [plate_number], [capacity], [bus_status], [bus_code], [bus_type_id]) VALUES (2, N'51B-54321', 30, N'Active', N'BUS002', 2)
SET IDENTITY_INSERT [dbo].[Buses] OFF
GO
SET IDENTITY_INSERT [dbo].[Driver_Trip_Change_Request] ON 

INSERT [dbo].[Driver_Trip_Change_Request] ([request_id], [driver_id], [trip_id], [request_date], [change_reason], [request_status], [approved_by_driver_id], [approval_date]) VALUES (1, 1, 1, CAST(N'2025-06-22T00:00:00.000' AS DateTime), N'benh', N'Pending', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Driver_Trip_Change_Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([driver_id], [user_id], [license_number], [license_class], [hire_date], [driver_status]) VALUES (1, 2, N'DL123456', N'B2', CAST(N'2020-01-10' AS Date), N'Active')
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice_Cancel_Requests] ON 

INSERT [dbo].[Invoice_Cancel_Requests] ([request_id], [invoice_id], [user_id], [request_date], [cancel_reason], [request_status], [approved_by_staff_id], [approval_date]) VALUES (1, 1, 1, CAST(N'2025-06-18T20:37:03.943' AS DateTime), N'Khách hàng muốn thay đổi kế hoạch', N'Pending', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Invoice_Cancel_Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice_Items] ON 

INSERT [dbo].[Invoice_Items] ([item_id], [invoice_id], [ticket_id], [invoice_amount]) VALUES (1, 1, 1, 500000)
SET IDENTITY_INSERT [dbo].[Invoice_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice_Taxes] ON 

INSERT [dbo].[Invoice_Taxes] ([invoice_tax_id], [invoice_id], [invoice_tax_type], [invoice_tax_percent], [invoice_tax_amount]) VALUES (1, 1, N'VAT', CAST(10.00 AS Decimal(5, 2)), CAST(50000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Invoice_Taxes] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([invoice_id], [user_id], [invoice_total_amount], [payment_method], [paid_at], [invoice_code], [invoice_full_name], [invoice_email], [invoice_phone], [invoice_status]) VALUES (1, 1, 500000, N'Credit Card', CAST(N'2025-06-10T17:00:13.640' AS DateTime), N'INV001', N'Nguyen Thi Lan', N'lan@example.com', N'0123456789', N'Paid')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([location_id], [location_name], [address], [latitude], [longitude], [location_type], [location_description], [location_created_at], [location_status]) VALUES (1, N'Hà Nội', N'Mỹ Đình, Nam Từ Liêm, Hà Nội, Việt Nam', 21.033194886569845, 105.77843359371899, N'Bus Terminal', N'Bến Xe Mỹ Đình', CAST(N'2025-06-20T14:15:16.673' AS DateTime), N'Active')
INSERT [dbo].[Locations] ([location_id], [location_name], [address], [latitude], [longitude], [location_type], [location_description], [location_created_at], [location_status]) VALUES (2, N'TP Hồ Chí Minh', N'395 Đ. Kinh Dương Vương, An Lạc, Bình Tân, Hồ Chí Minh 700000, Việt Nam', 10.740972, 106.618881, N'Bus Terminal', N'Bến xe Miền Tây', CAST(N'2025-06-20T14:15:16.673' AS DateTime), N'Active')
INSERT [dbo].[Locations] ([location_id], [location_name], [address], [latitude], [longitude], [location_type], [location_description], [location_created_at], [location_status]) VALUES (3, N'Cần Thơ', N'2Q4F+74R, Đường dẫn cầu Cần Thơ, QL1A, Hưng Thành, Cái Răng, Cần Thơ, Việt Nam', 10.005964797967224, 105.77308072571536, N'Bus Terminal', N'Bến Xe Trung Tâm Cần Thơ', CAST(N'2025-06-20T14:15:16.673' AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Password_Reset_Tokens] ON 

INSERT [dbo].[Password_Reset_Tokens] ([token_id], [user_id], [token], [token_created_at], [token_expires_at], [token_used]) VALUES (1, 1, N'abcdef123456', CAST(N'2025-06-10T17:04:39.847' AS DateTime), CAST(N'2025-06-15T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Password_Reset_Tokens] ([token_id], [user_id], [token], [token_created_at], [token_expires_at], [token_used]) VALUES (2, 6, N'fadd138e-564b-4dac-a0b6-446e9b0ef29f', CAST(N'2025-06-12T01:28:27.537' AS DateTime), CAST(N'2025-06-12T02:28:27.537' AS DateTime), 0)
INSERT [dbo].[Password_Reset_Tokens] ([token_id], [user_id], [token], [token_created_at], [token_expires_at], [token_used]) VALUES (3, 6, N'db10297d-79ff-42c3-a824-70ef5bc34633', CAST(N'2025-06-12T01:31:41.893' AS DateTime), CAST(N'2025-06-12T02:31:41.893' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Password_Reset_Tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Route_Prices] ON 

INSERT [dbo].[Route_Prices] ([route_price_id], [route_id], [bus_type_id], [route_price], [route_price_effective_from], [route_price_effective_to]) VALUES (65, 2, 1, CAST(46.00 AS Decimal(18, 2)), CAST(N'2025-06-21' AS Date), NULL)
INSERT [dbo].[Route_Prices] ([route_price_id], [route_id], [bus_type_id], [route_price], [route_price_effective_from], [route_price_effective_to]) VALUES (99, 1, 1, CAST(55.00 AS Decimal(18, 2)), CAST(N'2025-06-21' AS Date), NULL)
INSERT [dbo].[Route_Prices] ([route_price_id], [route_id], [bus_type_id], [route_price], [route_price_effective_from], [route_price_effective_to]) VALUES (100, 1, 2, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-06-21' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Route_Prices] OFF
GO
SET IDENTITY_INSERT [dbo].[Route_Stops] ON 

INSERT [dbo].[Route_Stops] ([route_stop_id], [route_id], [route_stop_number], [location_id], [route_stop_dwell_minutes]) VALUES (44, 2, 1, 4, 1)
INSERT [dbo].[Route_Stops] ([route_stop_id], [route_id], [route_stop_number], [location_id], [route_stop_dwell_minutes]) VALUES (76, 1, 1, 6, 4)
INSERT [dbo].[Route_Stops] ([route_stop_id], [route_id], [route_stop_number], [location_id], [route_stop_dwell_minutes]) VALUES (85, 52, 1, 5, 5)
SET IDENTITY_INSERT [dbo].[Route_Stops] OFF
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([route_id], [distance_km], [start_location_id], [end_location_id], [estimated_time], [route_status]) VALUES (1, 1700, 1, 2, 2083, N'Active')
INSERT [dbo].[Routes] ([route_id], [distance_km], [start_location_id], [end_location_id], [estimated_time], [route_status]) VALUES (2, 210, 3, 2, 2135, N'Active')
INSERT [dbo].[Routes] ([route_id], [distance_km], [start_location_id], [end_location_id], [estimated_time], [route_status]) VALUES (3, 295, 6, 2, 2013, N'Inactive')
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat_Templates] ON 

INSERT [dbo].[Seat_Templates] ([seat_template_id], [code], [level]) VALUES (1, N'STD', N'Lower')
INSERT [dbo].[Seat_Templates] ([seat_template_id], [code], [level]) VALUES (2, N'VIP', N'Upper')
SET IDENTITY_INSERT [dbo].[Seat_Templates] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket_Seat] ON 

INSERT [dbo].[Ticket_Seat] ([ticket_seat_id], [ticket_id], [seat_number]) VALUES (1, 1, N'A1')
INSERT [dbo].[Ticket_Seat] ([ticket_seat_id], [ticket_id], [seat_number]) VALUES (2, 1, N'A2')
SET IDENTITY_INSERT [dbo].[Ticket_Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([ticket_id], [trip_id], [user_id], [ticket_status], [check_in], [check_out], [ticket_code], [pickup_location_id], [dropoff_location_id]) VALUES (1, 1, 1, N'Booked', CAST(N'2025-06-10T07:30:00.000' AS DateTime), CAST(N'2025-06-10T18:00:00.000' AS DateTime), N'TICKET001', 1, 2)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Trip_Bus] ON 

INSERT [dbo].[Trip_Bus] ([trip_bus_id], [trip_id], [bus_id]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[Trip_Bus] OFF
GO
SET IDENTITY_INSERT [dbo].[Trip_Driver] ON 

INSERT [dbo].[Trip_Driver] ([trip_driver_id], [trip_id], [driver_id], [assigned_at]) VALUES (1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Trip_Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[Trips] ON 

INSERT [dbo].[Trips] ([trip_id], [route_id], [bus_id], [driver_id], [departure_time], [trip_status]) VALUES (1, 1, 1, 1, CAST(N'2025-06-10T08:00:00.000' AS DateTime), N'Scheduled')
INSERT [dbo].[Trips] ([trip_id], [route_id], [bus_id], [driver_id], [departure_time], [trip_status]) VALUES (2, 1, 1, 1, CAST(N'2025-06-19T19:00:00.000' AS DateTime), N'Cancelled')
INSERT [dbo].[Trips] ([trip_id], [route_id], [bus_id], [driver_id], [departure_time], [trip_status]) VALUES (3, 2, 1, 1, CAST(N'2025-06-01T18:20:00.000' AS DateTime), N'Completed')
SET IDENTITY_INSERT [dbo].[Trips] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [user_name], [user_email], [password], [user_phone], [role], [birthdate], [gender], [user_address], [user_created_at], [user_status]) VALUES (1, N'Nguyen Thi Lan', N'lan@example.com', N'$2a$12$qFYV83onvGw5MZHtJnmBx.JPA8tVeihcU.YBd79VEjWvbF/uKabNG', N'0123456789', N'Customer', CAST(N'1990-05-15' AS Date), N'Female', N'123 ABC Street, Hanoi', CAST(N'2025-06-10T16:44:44.483' AS DateTime), N'Active')
INSERT [dbo].[Users] ([user_id], [user_name], [user_email], [password], [user_phone], [role], [birthdate], [gender], [user_address], [user_created_at], [user_status]) VALUES (2, N'Tran Minh Tu', N'tu@example.com', N'password456', N'0987654321', N'Customer', CAST(N'1985-08-25' AS Date), N'Male', N'456 XYZ Avenue, Ho Chi Minh City', CAST(N'2025-06-10T16:44:44.483' AS DateTime), N'Active')
INSERT [dbo].[Users] ([user_id], [user_name], [user_email], [password], [user_phone], [role], [birthdate], [gender], [user_address], [user_created_at], [user_status]) VALUES (3, N'Le Dang Khoa', N'KhoaLOL@fpt.edu.vn', N'123', N'011111111', N'Customer', CAST(N'2005-05-11' AS Date), N'Female', N'Vinh Chau, ST', CAST(N'2025-06-10T23:25:01.420' AS DateTime), N'Inactive')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Bus_Driv__A08FE4B7561946E1]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Bus_Driver] ADD UNIQUE NONCLUSTERED 
(
	[bus_id] ASC,
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Bus_Type__F851B9B284921B14]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Bus_Type_Seat_Template] ADD UNIQUE NONCLUSTERED 
(
	[bus_type_id] ASC,
	[seat_template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Bus_Type__BB856E1B792F457B]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Bus_Types] ADD UNIQUE NONCLUSTERED 
(
	[bus_type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Buses__87EF9F592CA4DFD8]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Buses] ADD UNIQUE NONCLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Drivers__B9BE370E1A2CE3A5]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Drivers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Invoice___D596F96A44B3A334]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Invoice_Items] ADD UNIQUE NONCLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Invoices__5ED70A351B22D3A2]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Invoices] ADD UNIQUE NONCLUSTERED 
(
	[invoice_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Password__CA90DA7A1E08C937]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Password_Reset_Tokens] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RouteStops_Order]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Route_Stops] ADD  CONSTRAINT [UQ_RouteStops_Order] UNIQUE NONCLUSTERED 
(
	[route_id] ASC,
	[route_stop_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ticket_S__CA9A40B17D1E455E]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Ticket_Seat] ADD UNIQUE NONCLUSTERED 
(
	[ticket_id] ASC,
	[seat_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tickets__628DB75F160292C7]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Tickets] ADD UNIQUE NONCLUSTERED 
(
	[ticket_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Trip_Bus__F686B21134123900]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Trip_Bus] ADD UNIQUE NONCLUSTERED 
(
	[trip_id] ASC,
	[bus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Trip_Dri__FA6B41C40458DB1E]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Trip_Driver] ADD UNIQUE NONCLUSTERED 
(
	[trip_id] ASC,
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__B0FBA212F4239378]    Script Date: 22/06/2025 02:33:58 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[user_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template] ADD  DEFAULT ((1)) FOR [bus_type_seat_template_is_active]
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template] ADD  CONSTRAINT [DF_BTST_Zone]  DEFAULT ('down') FOR [bus_type_seat_template_zone]
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template] ADD  CONSTRAINT [DF_BTST_Row]  DEFAULT ((1)) FOR [bus_type_seat_template_row]
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template] ADD  CONSTRAINT [DF_BTST_Col]  DEFAULT ((1)) FOR [bus_type_seat_template_col]
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template] ADD  CONSTRAINT [DF_BTST_IsAisle]  DEFAULT ((0)) FOR [bus_type_seat_template_is_aisle]
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template] ADD  CONSTRAINT [DF_BTST_Order]  DEFAULT ((0)) FOR [bus_type_seat_template_order]
GO
ALTER TABLE [dbo].[Driver_Trip_Change_Request] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[Driver_Trip_Change_Request] ADD  DEFAULT ('Pending') FOR [request_status]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT ('Active') FOR [driver_status]
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests] ADD  DEFAULT ('Pending') FOR [request_status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [paid_at]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (N'Thanh toán thành công') FOR [invoice_status]
GO
ALTER TABLE [dbo].[Locations] ADD  CONSTRAINT [DF_Locations_CreatedAt]  DEFAULT (getdate()) FOR [location_created_at]
GO
ALTER TABLE [dbo].[Locations] ADD  CONSTRAINT [DF_Locations_Status]  DEFAULT ('Active') FOR [location_status]
GO
ALTER TABLE [dbo].[Password_Reset_Tokens] ADD  DEFAULT (getdate()) FOR [token_created_at]
GO
ALTER TABLE [dbo].[Password_Reset_Tokens] ADD  DEFAULT ((0)) FOR [token_used]
GO
ALTER TABLE [dbo].[Route_Prices] ADD  DEFAULT (getdate()) FOR [route_price_effective_from]
GO
ALTER TABLE [dbo].[Route_Stops] ADD  DEFAULT ((0)) FOR [route_stop_dwell_minutes]
GO
ALTER TABLE [dbo].[Routes] ADD  DEFAULT ('Active') FOR [route_status]
GO
ALTER TABLE [dbo].[Seat_History] ADD  DEFAULT (getdate()) FOR [history_changed_at]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (left(CONVERT([varchar](36),newid()),(6))) FOR [ticket_code]
GO
ALTER TABLE [dbo].[Trip_Driver] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [user_created_at]
GO
ALTER TABLE [dbo].[Bus_Driver]  WITH CHECK ADD  CONSTRAINT [FK_bus_driver_bus] FOREIGN KEY([bus_id])
REFERENCES [dbo].[Buses] ([bus_id])
GO
ALTER TABLE [dbo].[Bus_Driver] CHECK CONSTRAINT [FK_bus_driver_bus]
GO
ALTER TABLE [dbo].[Bus_Driver]  WITH CHECK ADD  CONSTRAINT [FK_bus_driver_driver] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[Bus_Driver] CHECK CONSTRAINT [FK_bus_driver_driver]
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template]  WITH CHECK ADD  CONSTRAINT [FK_btst_bus_type] FOREIGN KEY([bus_type_id])
REFERENCES [dbo].[Bus_Types] ([bus_type_id])
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template] CHECK CONSTRAINT [FK_btst_bus_type]
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template]  WITH CHECK ADD  CONSTRAINT [FK_btst_seat_template] FOREIGN KEY([seat_template_id])
REFERENCES [dbo].[Seat_Templates] ([seat_template_id])
GO
ALTER TABLE [dbo].[Bus_Type_Seat_Template] CHECK CONSTRAINT [FK_btst_seat_template]
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD  CONSTRAINT [FK_buses_bus_type] FOREIGN KEY([bus_type_id])
REFERENCES [dbo].[Bus_Types] ([bus_type_id])
GO
ALTER TABLE [dbo].[Buses] CHECK CONSTRAINT [FK_buses_bus_type]
GO
ALTER TABLE [dbo].[Driver_Trip_Change_Request]  WITH CHECK ADD  CONSTRAINT [FK_Driver_Trip_Change_Request_Driver] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[Driver_Trip_Change_Request] CHECK CONSTRAINT [FK_Driver_Trip_Change_Request_Driver]
GO
ALTER TABLE [dbo].[Driver_Trip_Change_Request]  WITH CHECK ADD  CONSTRAINT [FK_Driver_Trip_Change_Request_Trip] FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trips] ([trip_id])
GO
ALTER TABLE [dbo].[Driver_Trip_Change_Request] CHECK CONSTRAINT [FK_Driver_Trip_Change_Request_Trip]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests]  WITH CHECK ADD  CONSTRAINT [FK_ICR_Invoices] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests] CHECK CONSTRAINT [FK_ICR_Invoices]
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests]  WITH CHECK ADD  CONSTRAINT [FK_TCR_ApprovedBy] FOREIGN KEY([approved_by_staff_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests] CHECK CONSTRAINT [FK_TCR_ApprovedBy]
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests]  WITH CHECK ADD  CONSTRAINT [FK_TCR_Requester] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests] CHECK CONSTRAINT [FK_TCR_Requester]
GO
ALTER TABLE [dbo].[Invoice_Items]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[Invoice_Items]  WITH CHECK ADD FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Tickets] ([ticket_id])
GO
ALTER TABLE [dbo].[Invoice_Taxes]  WITH CHECK ADD  CONSTRAINT [FK_invoice_taxes_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[Invoice_Taxes] CHECK CONSTRAINT [FK_invoice_taxes_invoice]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Password_Reset_Tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Route_Prices]  WITH CHECK ADD FOREIGN KEY([bus_type_id])
REFERENCES [dbo].[Bus_Types] ([bus_type_id])
GO
ALTER TABLE [dbo].[Route_Prices]  WITH CHECK ADD FOREIGN KEY([route_id])
REFERENCES [dbo].[Routes] ([route_id])
GO
ALTER TABLE [dbo].[Route_Stops]  WITH CHECK ADD  CONSTRAINT [FK_RouteStops_Locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[Locations] ([location_id])
GO
ALTER TABLE [dbo].[Route_Stops] CHECK CONSTRAINT [FK_RouteStops_Locations]
GO
ALTER TABLE [dbo].[Route_Stops]  WITH CHECK ADD  CONSTRAINT [FK_RouteStops_Routes] FOREIGN KEY([route_id])
REFERENCES [dbo].[Routes] ([route_id])
GO
ALTER TABLE [dbo].[Route_Stops] CHECK CONSTRAINT [FK_RouteStops_Routes]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_routes_end_location_id_locations] FOREIGN KEY([end_location_id])
REFERENCES [dbo].[Locations] ([location_id])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_routes_end_location_id_locations]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_routes_start_location_id_locations] FOREIGN KEY([start_location_id])
REFERENCES [dbo].[Locations] ([location_id])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_routes_start_location_id_locations]
GO
ALTER TABLE [dbo].[Seat_History]  WITH CHECK ADD  CONSTRAINT [FK_Seat_History_Ticket_Seat] FOREIGN KEY([ticket_id], [history_seat_number])
REFERENCES [dbo].[Ticket_Seat] ([ticket_id], [seat_number])
GO
ALTER TABLE [dbo].[Seat_History] CHECK CONSTRAINT [FK_Seat_History_Ticket_Seat]
GO
ALTER TABLE [dbo].[Seat_History]  WITH CHECK ADD  CONSTRAINT [FK_Seat_History_Tickets] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Tickets] ([ticket_id])
GO
ALTER TABLE [dbo].[Seat_History] CHECK CONSTRAINT [FK_Seat_History_Tickets]
GO
ALTER TABLE [dbo].[Seat_History]  WITH CHECK ADD  CONSTRAINT [FK_Seat_History_Trips] FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trips] ([trip_id])
GO
ALTER TABLE [dbo].[Seat_History] CHECK CONSTRAINT [FK_Seat_History_Trips]
GO
ALTER TABLE [dbo].[Ticket_Seat]  WITH CHECK ADD  CONSTRAINT [FK_ticket_seat_ticket] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Tickets] ([ticket_id])
GO
ALTER TABLE [dbo].[Ticket_Seat] CHECK CONSTRAINT [FK_ticket_seat_ticket]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_dropoff_location_id_locations] FOREIGN KEY([dropoff_location_id])
REFERENCES [dbo].[Locations] ([location_id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_tickets_dropoff_location_id_locations]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_pickup_location_id_locations] FOREIGN KEY([pickup_location_id])
REFERENCES [dbo].[Locations] ([location_id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_tickets_pickup_location_id_locations]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Trips] FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trips] ([trip_id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Trips]
GO
ALTER TABLE [dbo].[Trip_Bus]  WITH CHECK ADD  CONSTRAINT [FK_trip_bus_bus] FOREIGN KEY([bus_id])
REFERENCES [dbo].[Buses] ([bus_id])
GO
ALTER TABLE [dbo].[Trip_Bus] CHECK CONSTRAINT [FK_trip_bus_bus]
GO
ALTER TABLE [dbo].[Trip_Bus]  WITH CHECK ADD  CONSTRAINT [FK_trip_bus_trip] FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trips] ([trip_id])
GO
ALTER TABLE [dbo].[Trip_Bus] CHECK CONSTRAINT [FK_trip_bus_trip]
GO
ALTER TABLE [dbo].[Trip_Driver]  WITH CHECK ADD  CONSTRAINT [FK_trip_driver_driver] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[Trip_Driver] CHECK CONSTRAINT [FK_trip_driver_driver]
GO
ALTER TABLE [dbo].[Trip_Driver]  WITH CHECK ADD  CONSTRAINT [FK_trip_driver_trip] FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trips] ([trip_id])
GO
ALTER TABLE [dbo].[Trip_Driver] CHECK CONSTRAINT [FK_trip_driver_trip]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([route_id])
REFERENCES [dbo].[Routes] ([route_id])
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests]  WITH CHECK ADD  CONSTRAINT [CK_TCR_Status] CHECK  (([request_status]='Rejected' OR [request_status]='Approved' OR [request_status]='Pending'))
GO
ALTER TABLE [dbo].[Invoice_Cancel_Requests] CHECK CONSTRAINT [CK_TCR_Status]
GO
ALTER TABLE [dbo].[Seat_Templates]  WITH CHECK ADD CHECK  (([level]='Lower' OR [level]='Upper'))
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CK__tickets__ticket_status] CHECK  (([ticket_status]='Completed' OR [ticket_status]='Cancelled' OR [ticket_status]='Booked'))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CK__tickets__ticket_status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([gender]='Other' OR [gender]='Female' OR [gender]='Male'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='Staff' OR [role]='Customer' OR [role]='Driver' OR [role]='Admin'))
GO
USE [master]
GO
