<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>busticket.controller.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersServlet</servlet-name>
        <servlet-class>busticket.controller.AdminUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTripsServlet</servlet-name>
        <servlet-class>busticket.controller.AdminTripsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBusesServlet</servlet-name>
        <servlet-class>busticket.controller.AdminBusesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoutesServlet</servlet-name>
        <servlet-class>busticket.controller.AdminRoutesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBusTypesServlet</servlet-name>
        <servlet-class>busticket.controller.AdminBusTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>busticket.controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>busticket.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>busticket.controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error404Servlet</servlet-name>
        <servlet-class>busticket.controller.Error404Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>busticket.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>busticket.controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>busticket.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicketServlet</servlet-name>
        <servlet-class>busticket.controller.BookTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketManagementServlet</servlet-name>
        <servlet-class>busticket.controller.TicketManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileManagementServlet</servlet-name>
        <servlet-class>busticket.controller.ProfileManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverDashboardServlet</servlet-name>
        <servlet-class>busticket.controller.DriverDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverTripChangeServlet</servlet-name>
        <servlet-class>busticket.controller.DriverTripChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverAssignedTripsServlet</servlet-name>
        <servlet-class>busticket.controller.DriverAssignedTripsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManageBookingsServlet</servlet-name>
        <servlet-class>busticket.controller.StaffManageBookingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffTripStatusServlet</servlet-name>
        <servlet-class>busticket.controller.StaffTripStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAssignDriverTripServlet</servlet-name>
        <servlet-class>busticket.controller.StaffAssignDriverTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffBookingStatisticsServlet</servlet-name>
        <servlet-class>busticket.controller.StaffBookingStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSupportCustomerTripServlet</servlet-name>
        <servlet-class>busticket.controller.StaffSupportCustomerTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSupportDriverTripServlet</servlet-name>
        <servlet-class>busticket.controller.StaffSupportDriverTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewStatisticsServlet</servlet-name>
        <servlet-class>busticket.controller.AdminViewStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeViewTripsServlet</servlet-name>
        <servlet-class>busticket.controller.HomeViewTripsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffPrintTicketBookingServlet</servlet-name>
        <servlet-class>busticket.controller.StaffPrintTicketBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffBookingDetailServlet</servlet-name>
        <servlet-class>busticket.controller.StaffBookingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffBookingStatisticsExportServlet</servlet-name>
        <servlet-class>busticket.controller.StaffBookingStatisticsExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLocationsServlet</servlet-name>
        <servlet-class>busticket.controller.AdminLocationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
        <url-pattern>/admin/users/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTripsServlet</servlet-name>
        <url-pattern>/admin/trips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBusesServlet</servlet-name>
        <url-pattern>/admin/buses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoutesServlet</servlet-name>
        <url-pattern>/admin/routes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBusTypesServlet</servlet-name>
        <url-pattern>/admin/bus-types</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error404Servlet</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicketServlet</servlet-name>
        <url-pattern>/book-ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketManagementServlet</servlet-name>
        <url-pattern>/ticket-management/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileManagementServlet</servlet-name>
        <url-pattern>/profile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverDashboardServlet</servlet-name>
        <url-pattern>/driver/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverTripChangeServlet</servlet-name>
        <url-pattern>/driver/trip-change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverAssignedTripsServlet</servlet-name>
        <url-pattern>/driver/assigned-trips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManageBookingsServlet</servlet-name>
        <url-pattern>/staff/manage-bookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffTripStatusServlet</servlet-name>
        <url-pattern>/staff/trip-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAssignDriverTripServlet</servlet-name>
        <url-pattern>/staff/assign-driver-trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffBookingStatisticsServlet</servlet-name>
        <url-pattern>/staff/booking-statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSupportCustomerTripServlet</servlet-name>
        <url-pattern>/staff/support-customer-trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSupportDriverTripServlet</servlet-name>
        <url-pattern>/staff/support-driver-trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewStatisticsServlet</servlet-name>
        <url-pattern>/admin/statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeViewTripsServlet</servlet-name>
        <url-pattern>/view-trips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffPrintTicketBookingServlet</servlet-name>
        <url-pattern>/staff/print-ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffBookingDetailServlet</servlet-name>
        <url-pattern>/staff/view-booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffBookingStatisticsExportServlet</servlet-name>
        <url-pattern>/staff/booking-statistics/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLocationsServlet</servlet-name>
        <url-pattern>/admin/locations</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
